* {
  max-width: 700px;
  margin: auto;
}

.avatar {
  float: right;
  width: 120px;
  height: 150px;
}

.contact-detail-title { text-decoration: underline; }

.contact-info { margin-bottom: 30px; }

.candidate-description {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  text-align: justify;
}

P { text-align: center }

td {
  padding: 10px;
  border: 1px solid;
}

td:first-child {
  width: 20%;
  font-weight: bold;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

pre { margin: 0; }
